.news-head{
  background-color: #3d4949;
  height: 70px;
  color: #fff;
  text-align: center;
  padding: 20px 0 10px 0;
  margin: 0;
  font-family: fantasy;
  line-height: 52px;
  word-spacing: 27px;
  letter-spacing: 21px;
  font-style: oblique;
}
.news-item{
  border: 1px solid transparent;
  width: 20%;
  margin-bottom: 25px;
  padding-bottom: 30px;
  border-radius: 19px 19px 19px 19px;
  -moz-border-radius: 19px 19px 19px 19px;
  -webkit-border-radius: 19px 19px 19px 19px;
  transition: transform, box-shadow 0.3s;
  background-color: gold;
}
.news-item:hover{
  -webkit-box-shadow: 18px 16px 7px 1px rgba(124,5,171,1);
  -moz-box-shadow: 18px 16px 7px 1px rgba(124,5,171,1);
  box-shadow: 18px 16px 7px 1px rgba(124,5,171,1);
  transform: scale(1.003);
}
.news-item-img{
  width: 100%;
  height: 44%;
  border-radius: 19px 19px 0 0;
  -moz-border-radius: 19px 19px 0 0;
  -webkit-border-radius: 19px 19px 0 0;
}
.news-block {
  padding: 45px 12px 0 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #151a1a;
}
.news-item-title {
  font-size: 20px;
  font-family: sans-serif;
  background-color: black;
  display: block;
  color: #fff;
}
.news-item-link{
  text-decoration: none;
  display: block;
  padding: 0;
}
.news-item-desc{
  margin: 8px 8px 0 8px;
  font-size: 16px;
  color: #000;
  font-family: sans-serif;
}